.active {
    --ion-text-color: var(--ion-color-primary);
 
    ion-icon {
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}
 
.parent-active {
    font-weight: bold;
}
 
.sub-menu {
    padding-left: 20px;
    font-size: small;
}